.titulo-tablero {
    font-size: 45px;
    display: block;
    text-align: center;
}

.recuadros-juegos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;
}

.recuadro-juego {
    width: 400px;

    border: 1px solid black;
    background-color: white;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.recuadro-juego h2 {
    font-size: 30px;
    font-family: "Berlin Sans FB";
    margin: 0px;
}

.recuadro-juego img {
    width: auto;
    height: 80%;
    object-fit: contain;
}

.recuadro-juego p {
    font-size: 25px;
    font-family: "Berlin Sans FB";
    margin: 0px;
    text-align: justify;
}

.boton-jugar {
    width: inherit;

    color: white;
    text-decoration: none;
    font-size: 40px;
    font-family: "Berlin Sans FB";

    border-radius: 5px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    animation: colorFlow 1s infinite;
}

